<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>Responses</h3>
 
      <table border =1>
         <thead>
            <tr>
               <th>id</th>
               <th>rec_id</th>
               <th>ans</th>
               <th>user_id</th>
            </tr>
         </thead>
         
         <tbody>
            {% for rec in res %}
               <tr>
                  <td>{{ rec.id }}</td>
                  <td>{{ rec.rec_id }}</td>
                  <td>{{rec.response}}</td>
                  <td>{{rec.user_id}}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      <a href="{{url_for('show',user=user)}}">next</a>
   </body>
</html>
