<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>Website</h3>

      <table border =1>
         <thead>
            <tr>
               <th>id</th>
               <th>label</th>
               <th>URL</th>
               <th>typeof</th>
            </tr>
         </thead>
         
         <tbody>
               <tr>
                  <td>{{ records.id }}</td>
                  <td>{{ records.label }}</td>
                  <td><a href="{{records.url}}">Check file</td>
                    <td>{{ records.typeof}}</td>
               </tr>
         </tbody>
      </table>

      <form action = "{{ url_for('final',user=user) }}"  method = "POST">
          <label for="f">user id</label>
        <input type="integer" name="pq" id="f"  value="{{user}}" >
 <label for="fileno">Record id</label>
        <input type="integer" name="pid" id="fileno" value="{{records.id}}">
         <p>Are label and url related</p>
            
            <label for="a">YES</label>
            <input name="ans" id="a" type="radio" value="yes">
             <label for="b">NO</label>
            <input name="ans" id="b" type="radio" value="no">
       
         
        <input type = "submit" value = "submit" >
      </form>
      
   </body>
</html>


